.gradient{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}



.gradient_1{
  background-image: linear-gradient(45deg, #76f536, #b57318);
  background-clip: text
  text-fill-color: transparent
  background-size: 100%
  background-color: orange;
}


body{
background-image: linear-gradient(
  180deg,
  hsl(240deg 78% 79%) 0%,
  hsl(228deg 87% 77%) 8%,
  hsl(219deg 91% 76%) 17%,
  hsl(213deg 92% 74%) 25%,
  hsl(208deg 90% 73%) 33%,
  hsl(204deg 87% 73%) 42%,
  hsl(201deg 82% 73%) 50%,
  hsl(196deg 83% 73%) 58%,
  hsl(191deg 80% 72%) 67%,
  hsl(186deg 75% 73%) 75%,
  hsl(180deg 68% 74%) 83%,
  hsl(172deg 73% 77%) 92%,
  hsl(163deg 79% 81%) 100%
);
